<nav class="navbar">
    <h1><a routerLink="/">E-COMMERCE</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input #searchButton (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text" name="" placeholder="Search For Products">
        <button (click)="findProduct(searchButton.value)">Search</button>
        <ul class="sugestedResult" *ngIf="searchResult">
            <li *ngFor="let items of searchResult">
                <a (mousedown)="redirectToDetails(items.id)">{{items.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType" class="liks">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">Login/Sign-up</a></li>
            <li><a routerLink="/cart">Cart({{cartItems}})</a></li>     
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a (click)="userLogOut()" routerLink="/user-auth">Logout</a></li>
            <li><a routerLink="/user-auth">{{userName | titlecase}}</a></li>
            <li><a routerLink="/cart">Cart({{cartItems}})</a></li>     
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="seller-home">List</a></li>
            <li><a (click)="logOut()">Logout</a></li>
            <li><a>({{sellerName | titlecase}})</a></li>
        </ul>
    </div>
</nav>